<div class="gradient-background">
  <div class="row" style="--bs-gutter-x: 0rem;">
    <div class="col-2 p-0">
      <app-navbar-utente></app-navbar-utente>
    </div>
    <div class="col-10 p-0">
      <div class="container py-5">
        <div class="row">
          <div class="col-12 text-center">
            <h1 class="mb-4"><i>Parla con l'Amministratore</i></h1>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 offset-lg-3">
            <!-- Collega il FormGroup -->
            <form [formGroup]="feedbackForm" (ngSubmit)="onSubmit()">
              <div class="mb-3">
                <label for="name" class="form-label">Nome</label>
                <input type="text" class="form-control" id="name" formControlName="nomeUtente">
              </div>
              
              <div class="mb-3">
                <label for="data" class="form-label">Data</label>
                <input type="date" class="form-control" id="data" formControlName="data">
              </div>
              
              <div class="mb-3">
                <label for="message" class="form-label">Problema da comunicare</label>
                <textarea class="form-control" id="message" rows="6" formControlName="Descrizione"></textarea>
              </div>
              
              <div class="d-grid">
                <button type="submit" class="btn btn-primary">Invia</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
