
<div id="colors">


    
    <div class="container">
        
        <h2>Login CondoMaster </h2>
        <form [formGroup]="loginForm" (ngSubmit)="login()">
       
            <input type="text" class="email" formControlName="username" placeholder="USERNAME" required>
            <br>
           
            <input type="password" class="pwd" formControlName="password" placeholder="PASSWORD" required>
            <br>
            <ng-container *ngIf="alert|async as alert">
                <span [class]="alert.alertClass">{{alert.message}}</span>
            </ng-container>
    
            <input class="sig" type="submit" value="Login" [disabled]="loginForm.invalid">
    
        </form>
        <img src="../../assets/logo.jpg" class="logo">
    </div>
    
    </div>