
<div class="row" style="--bs-gutter-x: 0rem;">
<div class="col-2 p-0">
<app-navbar></app-navbar>
    
  </div> 


  <div class="col-10 welcome-page">
    <video autoplay muted loop id="background-video">
        <source src="../../assets/9150545-hd_1920_1080_24fps.mp4" type="video/mp4">
       
      </video>
        <div class="content">
            <div class="welcome-message">
                <p>Benvenuto</p>
                <button (click)="route()">Visualizza Condomini</button>
              </div>

        </div>
       

</div> 