
<div class="row" style="--bs-gutter-x: 0rem;">
<div class="col-2 p-0">
<app-navbar></app-navbar>
    
  </div> 


  <div class="col-10 welcome-page">
    <img src="../../assets/grattacielo-Photoroom.png-Photoroom.png" class="left-logo" alt="Logo condominio">
        <div class="content">
            <div class="welcome-message">
              <div class="background">
                <h1 style="color: black; font-size: 25px" >Benvenuto Su CondoMaster {{adminNome}}</h1>
              </div>
                
                <img src="../../assets/logo.jpg" class="me-2" class="logo"><br><br>

                <button (click)="route()">Visualizza Condomini </button>
              </div>

        </div>
        <img src="../../assets/apart.png" class="right-logo" alt="Logo destra"> <!-- Aggiungi l'immagine destra qui -->
       

</div> 