
<div class="row" style="--bs-gutter-x: 0rem;">
<div class="col-2 p-0">
<app-navbar></app-navbar>
    
  </div> 


  <div class="col-10 welcome-page">
  
        <div class="content">
            <div class="welcome-message">
                <h1 style="color: black;">Benvenuto Su CondoMaster {{adminNome}}</h1>
                <img src="../../assets/logo.jpg"  width="300" height="300" class="me-2"><br><br>

                <button (click)="route()">Visualizza Condomini</button>
              </div>

        </div>
       

</div> 