<!-- home.component.html -->

<table>
  <thead>
    <tr>
      <th>Nome Condominio</th>
      <th>Indirizzo</th>
      <th>Numero Appartamenti</th>
      <th></th>
    
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let condominio of condomini">
      <td>{{ condominio.Nome }}</td>
      <td>{{ condominio.Indirizzo }}</td>
      <td>{{ condominio.nAppartamenti }}</td>
      <td><button (click)="removeCondo()"> Elimina</button></td>
      
    </tr>
  </tbody>
</table>
<button (click)="logout()">logout</button>